#wrapper {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  background-color: white;
}

.input-form {
  margin: 15px;
}

.keyword-div {
  background-color: #7fdbff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  font-size: 20px;
  color: white;
  line-height: 1;
  border: none;
  position: relative;
}

.close-button:hover {
  color: red;
}

.close-button {
  border: none;
  background-color: transparent;
  height: 20px;
  width: 10px;
  cursor: pointer;
  position: absolute;
  right: 3px;
  top: -3px;
  color: white;
}
