p {
  font-family: Helvetica;
  color: #415058;
}
h3 {
  font-family: Helvetica;
  color: #e67e22;
}
#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

#indented {
  margin-left: 65px;
}
strong {
  color: #e67e22;
}

body {
  background-color: #fffdd0;
}
